.NgxEditor__Wrapper {
    border-color: rgb(201 214 223 / var(--tw-border-opacity));
}

.NgxEditor__MenuBar {
    background: inherit;
    color: inherit;
    background-color: rgb(249 252 255 / var(--tw-bg-opacity)) !important; 
}

.NgxEditor {
    background: inherit;
    color: inherit;
    background-color: rgb(249 252 255 / var(--tw-bg-opacity)) !important;
}