
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$note-web-primary: mat.define-palette(mat.$blue-palette, A400);
$note-web-accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$note-web-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$note-web-theme: mat.define-light-theme((
  color: (
    primary: $note-web-accent,
    accent: $note-web-primary,
    warn: $note-web-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($note-web-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .flex-center {
        @apply flex items-center justify-center
    }
}

body{
    --tw-text-opacity: 1;
    color: rgb(86 92 98 / var(--tw-text-opacity));
    line-height: 1.4;
}
html, body { height: 100%; }
body { margin: 0; }

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.NgxEditor__Wrapper {
  border-color: rgb(201 214 223 / var(--tw-border-opacity));
  border: none !important;
  height: 100%;
  background-color: rgb(249 252 255 / var(--tw-bg-opacity)) !important;
}

.NgxEditor__MenuBar {
  margin-top: 0px;
  margin-bottom: 10px;
  background: inherit;
  color: inherit;
  border: none !important;
  background-color: rgb(249 252 255 / var(--tw-bg-opacity)) !important;
}

.NgxEditor {
  background: inherit;
  color: inherit;
  background-color: rgb(249 252 255 / var(--tw-bg-opacity)) !important;
  height: calc(100% - 40px);
  overflow-y: scroll;
}

.NgxEditor__Content {
  height: 100%;
  background-color: rgb(249 252 255 / var(--tw-bg-opacity)) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.67em 0 !important;
  font-weight: bold !important;
}

h1 {
  font-size: 2em !important;
}

h2 {
  font-size: 1.5em !important;
}

h3 {
  font-size: 1.17em !important;
}

ul {
  list-style-type: disc !important;
  margin-left: 2rem !important;
}

ol {
  list-style-type: decimal !important;
  margin-left: 2rem !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: inherit !important;
}

.mat-mdc-form-field-focus-overlay{
  background-color: inherit !important;
}

.h-button{
  border-radius: 9999px !important;
  background-color: rgb(99 102 241) !important;
}

.gradient-background {
  background: linear-gradient(80deg,#6366f1,#3033b3,#107078);
  background-size: 180% 180%;
  animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main-gradient-background {
  background: linear-gradient(80deg,#f9fcff,#e9f1f3,#ccd1d2);
  background-size: 180% 180%;
  animation: main-gradient-animation 15s ease infinite;
}

@keyframes main-gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}